.inner{
    max-width: 1420px;
    padding: 0 50px;
    margin: 0 auto;
}


.wrapper{
    padding-top: 139px;
}
.wrapper.main{background: #131442;}
.wrapper.projectList{background: #131442;}
.wrapper.projectView{background: #131442;}
.wrapper.designerList{background: #131442;}
.wrapper.designerView{background: #131442;}