 
 .header{
    position: fixed;
    top: 52px;left: 0;
    width: 100%;
    z-index: 10;
 }
 .header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
 }
 .header .logo{}
 .header .gnb{
}
.header .gnb ul{
    display: flex;
    gap: 55px;
 }
 .header .gnb li{}
 .header .gnb a{
    color: #959ed6;
    font-size: 20px;
    transition: .3s;
 }
 .header .gnb a:hover{
    color: #fff;
    /* font-weight: bold; */
 }

 .footer{
    padding: 56px 0;
 }
 .footer .inner{
    display: flex;
    justify-content: space-between;
 }
 .footer .inner .text{
    font-size: 16px;
    letter-spacing: 0.16px;
}
.footer .inner .text strong{
    display: block;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.2px;
 }


 .footer .inner .copy{
    color: #131442;
    font-size: 12px;
 }

/*  */
 .main footer{ background: #fff; padding-top: 388px; }
 /*  */
 .projectList .footer{color: #fff; padding-top: 388px; }
 .projectList .footer .inner .copy{color: #fff;}
/*  */
.projectView .footer{color: #fff; padding-top: 177px; }
.projectView .footer .inner .copy{color: #fff;}

.designerList .footer{color: #fff; padding-top: 482px;}
.designerList .footer .inner .copy{color: #fff;}

.designerView .footer{color: #fff; padding-top: 111px;}
.designerView .footer .inner .copy{color: #fff;}
