@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;800;900&display=swap');
@import './reset.css';
@import './common.css';
@import './layout.css';

/* main-page */
 
.main .sc-main{}
.main .sc-main .visual{position: relative;
    overflow: hidden;
}
.main .sc-main .visual .inner{
    position: relative;
    /* height: 100vh; */
    z-index: 1;
    padding-bottom: 150px;
}
.main .sc-main .visual .flex{
    display: flex;
}
.main .sc-main .visual .text-area{
    padding-top: 208px;
    flex: 1;
}
.main .sc-main .visual .text-area .title1{}
.main .sc-main .visual .text-area .title2{
    margin-top: 66px;
    margin-bottom: 57px;
}


.main .sc-main .visual .text-area .link{
    display: inline-flex;
    gap: 8px;
    align-items: center;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    padding: 2px 20px;
    border-radius: 20px;
}
.main .sc-main .visual .text-area .desc{
    color: #97ceff;
    font-size: 20px;
    margin-top: 157px;
}
.main .sc-main .visual .img-area{
    position: relative;
    flex: 1;
}
.main .sc-main .visual .img-area .img{
    width: 1289px;
    position: absolute;
    top: -200px;left: 50%;
    transform: translateX(-50%);
    max-width: none;
}


.main .sc-main .visual .sns-area{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;right: 0;
    gap: 20px;
}
.main .sc-main .visual .sns-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.main .sc-main .visual .bg{
    position: absolute;
    width: 120%;
    bottom: 0;left: 50%;
    transform: translateX(-50%);
}



.main .sc-main .logo{
    padding-top: 333px;
    padding-bottom: 621px;

    background: rgb(19,20,66);
background: linear-gradient(180deg, rgba(19,20,66,1) 26%, rgba(255,255,255,1) 100%);
}
.main .sc-main .logo .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 74px;
}



.main .sc-intro{
    background: #fff;
    padding-top: 203px;
    padding-bottom: 512px;
}
.main .sc-intro .flex{
    display: flex;
    
}
.main .sc-intro .text-area{
    flex: 1;
    max-width: 627px;
}
.main .sc-intro .text-area .title{margin-bottom: 30px;}
.main .sc-intro .text-area .sub-title{margin-bottom: 43px;}
.main .sc-intro .text-area .desc{
    font-weight: 500;
    font-size: 15px;
    line-height: 164%;
    margin-bottom: 23px;
}
.main .sc-intro .text-area .desc2{
    color: #717171;
    font-size: 15px;
    font-weight: 500;
    line-height: 139.023%;
}
.main .sc-intro .img-area{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.main .sc-intro .img-area img{}



.main .sc-video{
    position: relative;
    background: #fff;
}
.main .sc-video video{
    width: 100%;
}

.main .sc-video .play{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
}

.main .sc-video .play.hide{
    display: none;
}
/*  */
main .group-title{}
main .group-title p{}
main .group-title h2{ font-size: 74px; letter-spacing: 3.744px; font-weight: 900; color: #8fffef; line-height: 1; }



.projectList {}
.projectList .content{ margin-top: 200px; }
.projectList .tab-nav{ display: flex; justify-content: center; }
.projectList .tab-nav a{ position: relative; color: #959ed6; font-size: 40px; line-height: 1.2; letter-spacing: 4px; padding: 0 35px; }
.projectList .tab-nav a+a::before{ position: absolute; right: 0;left: 0; background: #959ED6; width: 2px; height: 47px; content: ''; }
.projectList .tab-nav a.active{ font-weight: 700; color: #fff; }
.projectList .tab-cont{ margin-top: 85px; }
.projectList .tab-cont .cont{ display: none; }
.projectList .tab-cont .cont.active{ display: block; }
.projectList .tab-cont ul{ display: grid; grid-template-columns: repeat(4,1fr); gap: 40px; }
.projectList .tab-cont li{}
.projectList .tab-cont li a{ display: block; position: relative; }
.projectList .tab-cont li img{ width: 100%; }
.projectList .tab-cont .desc{ display: flex; flex-direction: column; align-items: center; justify-content: center; position: absolute; top: 0;left: 0; right: 0;bottom: 0; background: rgba(0, 0, 0, 0.70); color: #fff; opacity: 0; visibility: hidden; transition: 0.3s; }
.projectList .tab-cont li:hover .desc{ opacity: 1; visibility: visible; }
.projectList .tab-cont .desc strong{ color: #FFF; text-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25); font-family: Noto Sans KR; font-size: 30px; font-weight: 500; line-height: 147.531%; }
.projectList .tab-cont .desc span{ color: #FFF; font-size: 15px; line-height: 147.531%; }



.projectView .sc-view{}
.projectView .sc-view img{width: 100%;}
.projectView .sc-view .iframe{ position: relative; padding-bottom: 56.25%; margin-bottom: 215px; }
.projectView .sc-view .iframe iframe{ position: absolute; top: 0;left: 0; width: 100%; height: 100%; }

.projectView .navigation{
    color: #fff;
    margin-top: 51px;
}
.projectView .navigation .inner{
    display: flex;
    justify-content: space-between;
}
.projectView .navigation a img{height: 30px;}
.projectView .navigation .link-back{
    display: flex;
    gap: 24px;
}
.projectView .navigation .link-next{
    display: flex;
    gap: 24px;
}
.projectView .navigation .link-next p{
    display: flex;
    align-items: center;
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 300;
    line-height: 101.023%;
    letter-spacing: 2.16px;
    text-transform: uppercase;
    white-space: nowrap;
}
.projectView .navigation .link-next p span{
    color: #D9D9D9;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2.88px;
    margin-left: 14px;
}

.designerList{position: relative;}
.designerList .group-title{
    margin-bottom: 220px;
}
.designerList .content{
    position: relative;
    z-index: 1;
}
.designerList .content.media{margin-top: 123px;}
.designerList h3{
    color: #959ED6;
    font-size: 40px;
    font-weight: 100;
    line-height: 129.023%; 
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 47px;
}
.designerList ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 47px 22px;
}
.designerList ul li{}
.designerList ul .link{}
.designerList ul img{ width: 100%; }
.designerList ul .desc{ color: #fff; display: flex; flex-direction: column; gap: 7px; padding-top: 23px; }
.designerList ul .desc strong{ font-size: 24px; font-weight: 400; line-height: 129.023%; }
.designerList ul .desc span{ font-size: 16px; font-weight: 300; line-height: 129.023%; }
.designerList .bg{ position: absolute; bottom: 0;left: 50%; transform: translateX(-50%); width: 169.79%; }
.designerList::after{ position: absolute; bottom: 0; left: 0; width: 100%; content: ''; height: 232px; background: linear-gradient(180deg,rgba(255, 255, 255, 0.00) 0%,rgba(255, 255, 255, 0.20) 100%); }



.designerView{position: relative;}
.designerView .view{position: relative;z-index: 1;}

.designerView .group-nav{margin-bottom: 72px;}
.designerView .group-nav img{height: 30px;}

.designerView .profile{
    display: flex;
    gap: 40px;
}
.designerView .thumb{}
.designerView .thumb img{}
.designerView .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.designerView .info .desc1{
    display: flex;
    flex-direction: column;
}
.designerView .info .desc1 strong{
    color: #D9D9D9;
    font-size: 40px;
    font-weight: 700;
    line-height: 101.023%;
    letter-spacing: 3.6px;
}
.designerView .info .desc1 span{
    color:#959ED6;
    font-size: 24px;
    font-weight: 400;
    line-height: 101.023%;
    letter-spacing: 2.16px;
    margin-top: 16px;
    }
.designerView .info .desc2{
    color: #FFF;
    font-size: 24px;
    line-height: 163.023%; 
    letter-spacing: 2.52px;
    }
.designerView .info .desc2 dl{
    display: flex;
}
.designerView .info .desc2 dt{
    font-weight: 100;
    min-width: 165px;
}
.designerView .info .desc2 dd{
    font-weight: 300;
}



.designerView .signature{}
.designerView .signature img{}



.designerView .works{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 103px;
}
.designerView .works li{}
.designerView .works a{
    display: block;
    overflow: hidden;
}
.designerView .works img{
    transition: 0.3s;
}
.designerView .works li:hover img{
    transform: scale(1.33);
}

.designerView .bg{ position: absolute;
     bottom: 0;left: 50%; 
     width: 100%;
     height: 676px;
     transform: translateX(-50%); }